@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  transition: all 0.3s ease;
}
body {
  background-color: #06030f;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
li {
  list-style: none;
  font-weight: 600;
  font-size: 16px;
}
.title1 {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}
.title2 {
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
}
.span1 {
  font-size: 20px;
  font-weight: 800;
  color: #77be1d;
}
.btn1 {
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 23px 40px 27px 40px;
}
.btn2 {
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  padding: 23px 40px 27px 40px;
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}
/* header styles starts */
.header {
  padding: 20px 0;
  color: #ffffff;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top--title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__top--name {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header__bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__input {
  font-size: 16px;
  color: #9b9a9f;
  border-radius: 15px;
  border: none;
  width: 648px;
  padding: 20px;
  background-color: #c4c4c40d;
}
.header__link {
  color: #77be1d;
  font-size: 16px;
  font-weight: 500;
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
/* header styles ends */
/* home styles starts */
.home {
  padding: 40px 0;
}
.home__wrapper {
  height: 700px;
  background-image: url(../images/home-2.svg);
  background-repeat: no-repeat;
}
.home__top {
  position: relative;
  top: 200px;
  left: 100px;
}
.home__left-img {
  position: relative;
  right: 125px;
  top: 160px;
}
.home__right-img {
  position: relative;
  bottom: 195px;
  left: 1140px;
}
.header__description {
  color: #ffffff;
  font-size: 24px;
  width: 592px;
  margin: 30px 0;
}
.home__price {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 20px;
  margin: 20px 0;
}
.home__buttons {
  display: flex;
  gap: 20px;
}
.home__lines {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 100px;
  left: 400px;
}
.home__line {
  border: 2px solid #ffffff1a;
  border-radius: 50px;
  width: 40px;
}
.home__line:active {
  color: #ffffff;
}
/* home styles ends */
/* hero styles starts */
.hero {
  padding: 40px 0;
  color: #ffffff;
  height: 642px;
}
.hero__bottom {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.hero__card--title {
  background-color: #06030f;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 800;
  position: relative;
  top: 110px;
  left: 10px;
}
.hero__img-heart {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  top: 70px;
  left: 250px;
  cursor: pointer;
}
.hero__img-heart:active {
  background-color: red;
}
.hero__card-btn {
  width: 260px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #77be1d;
  color: #fff;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  top: 430px;
  right: 15px;
  cursor: pointer;
}
.hero__price {
  display: flex;
  align-items: center;
  gap: 15px;
}
.hero__dots {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero__span {
  border: 1px solid #3d394a;
  border-radius: 50px;
  padding: 5px;
  opacity: 50%;
}
/* hero styles ends */
